.ESP{
    color:Yellow;
    font-size:60px;
    font-family:Helvetica;
    background-color:Black;
}
.SnakeByte{
    color:yellow;
    font-size:18px;
    background-color:Black;
}
.KillemAll{
    color:red;
    background-color:black;
}
.RidetheLightning{
    color:Blue;
    background-color:Black;
}
.HitTheLights{
    background-color:red;
    color:White;
}
.FightFireWithFire{
    background-color:blue;
    color:white;
}
.MasterOfPuppets{
    background-color:Maroon;
    color:White;
}
.Battery{
    background-color:Orange;
    color:Black;
}
.GarageInc{
    background-color:#33cccc;
    color:white;
}
.AndJusticeForAll{
    background-color:#ffffe6;
}
.Blackened{
    Background-color:black;
    Color:White;
    font-family:Garamond;
}
.BlackAlbum{
    background-color:black;
    color:white;
}
.Load{
    background-color:#4d4949;
    color:red;
}
.KingNothing{
    color:#cfc8c8;
    background-color:#bf2121;
}
.RELoad{
    background-color:#faaf00;
}
.StAnger{
    background-color:#ff6505;
}
.DeathMagnetic{
    Background-color:#ADADAD;
}
.Hardwired{
    background-color:White;
    color:#191970;
}
.Mothintoflame{
    background-color:slategrey;
    color:white;
}
.LuxAeterna{
    background-color:#e6e600;
    color:black;
}
.ChasingLight{
    background-color:black;
    color:yellow;
}